body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: rgb(128,0,32);
    opacity: 100%;
}

button{
    margin-bottom: 16px;
}

#container{
    display: flex;
    background-color: white;
    height: 600px;
    width: 600px;  
}



#container div div{
    border: 1px solid black;


}

